<h1>Genres Page</h1>



<form ng-submit="vm.addGenre(vm.genreToAdd)">
    <label>Add a Genre
        <input type="text" placeholder="E.g., Sci-Fi" ng-model="vm.genreToAdd.name">
    </label>
    <input type="submit" value="Submit">
</form>

<table>
    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Genre</th>
            <th>Number in Database</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in vm.genres">
            <!-- <td>{{genre.id}}</td> -->
            <td>{{genre.name}}</td>
            <td style="text-align:right">{{genre.count}}</td>
            <td>
                <md-button class="md-raised">
                    Delete Genre
                </md-button>
                <md-button class="md-raised" ng-click="vm.seeAllInGenre(genre)">
                        See All in Genre
                    </md-button>
            </td>
        </tr>
    </tbody>
</table>





<!-- <div class="md-padding" layout="row" layout-wrap>
        <md-content>
            <md-card style="width:600px" ng-repeat="movie in vm.searchResults">
            <div layout="column">
                <md-card-title>
                    <md-card-title-text>
                            {{movie.title}}
                    </md-card-title-text>
                    </mat-card-title>
                   <md-card-content>
                        The main genre is {{movie.tmdb_id}}
                    </md-card-content> 
                </div>
                    <div>
                        <img ng-src="{{movie.poster_path}}" style="width:100px">
                    </div>
            </md-card>
        </md-content>
    </div>  -->

    <div layout="row" layout-wrap>
            <md-content flex="33" ng-repeat="movie in vm.searchResults">
                <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{movie.title}}</span>
                            <span class="md-subhead">Runtime: {{movie.run_time}}</span>
                            <span class="md-subhead">Release Date: {{movie.release_date | date:"MM/dd/yyyy"}}</span>
                        </md-card-title-text>
                        </mat-card-title>
                        <div>
                            <img ng-src="{{movie.poster_path}}" style="width:100px">
                        </div>
                        <md-button class="md-primary md-raised" style="height:50px" ng-click="vm.deleteMovie(movie)">
                            Delete
                        </md-button>
                </md-card>
            </md-content>
        </div>




