<h1>Genres Page</h1>



<form ng-submit="vm.addGenre(vm.genreToAdd)">
    <label>Add a Genre
        <input type="text" placeholder="E.g., Sci-Fi" ng-model="vm.genreToAdd.name">
    </label>
    <input type="submit" value="Submit">
</form>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Genre</th>
            <th>Number in Database</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="genre in vm.genres">
            <td>{{genre.id}}</td>
            <td>{{genre.name}}</td>
            <td style="text-align:right">{{genre.count}}</td>
            <td>
                <md-button class="md-raised">
                    Delete Genre
                </md-button>
                <md-button class="md-raised" ng-click="vm.seeAllInGenre(genre)">
                        See All in Genre
                    </md-button>
            </td>
        </tr>
    </tbody>
</table>