<h1>Home Page</h1>

<h1>Movie Database</h1>

<form ng-submit="vm.addMovie(vm.movieToAdd)">
    <h3>Add Movie</h3>
    <md-input-container>
        <input type="text" placeholder="Title" ng-model="vm.movieToAdd.title">
    </md-input-container>
    <select ng-options="genre.id as genre.text for genre in vm.genres" ng-model="vm.movieToAdd.genre_id">
        <option value="">Genre</option>
    </select>
    <!-- <label>Release Date
        <md-input-container>
            <input type="date" value="yyyy-MM-dd" min="1900-01-01" max="2019-01-01" ng-model="vm.movieToAdd.release_date" />
        </md-input-container></label> -->

    <md-datepicker md-placeholder="Release Date" ng-model="vm.movieToAdd.release_date"></md-datepicker>

    <!-- this needs to be fixed later -->
    <md-input-container>
        <input type="number" placeholder="Runtime in minutes" ng-model="vm.movieToAdd.runtime">
    </md-input-container>
    <md-input-container>
        <input type="text" placeholder="Image URL" ng-model="vm.movieToAdd.image">
    </md-input-container>
    <input type="submit" value="Submit">
</form>

<md-content class="md-padding" layout="row" layout-wrap>
    <div flex="10" layout="row" layout-wrap>
        <md-card style="width:300px" ng-repeat="movie in vm.movies">
            <md-card-title>
                <md-card-title-text>
                    {{movie.title}}
                </md-card-title-text>
                </mat-card-title>
                <md-card-subtitle>
                    {{movie.genre_id}}
                </md-card-subtitle>
                <div>
                    <img ng-src="{{movie.image}}" style="width:100px">
                </div>
                <md-button class="md-primary md-raised" style="height:50px" ng-click="vm.deleteMovie(movie)">
                    Delete
                </md-button>
        </md-card>
    </div>
</md-content>