<h1>Home Page</h1>

<h1>Movie Database</h1>

<h3>Add a Movie!</h3>

<div>
    <div style="text-align: center">
        <a href="#!/search"><md-button class="md-raised md-primary">Search the API!</md-button></a>
    </div>
    <div style="text-align: center">
        <md-button class="md-primary" style="color:lightgrey" ng-click="vm.showForm=true">Or you could enter in the information
            yourself. I guess.</md-button>
    </div>
</div>

<form ng-submit="vm.addMovie(vm.movieToAdd)" ng-show="vm.showForm">

    <md-input-container>
        <input type="text" placeholder="Title" ng-model="vm.movieToAdd.title">
    </md-input-container>
    <select ng-options="genre.id as genre.name for genre in vm.genres" ng-model="vm.movieToAdd.genre_id">
        <option value="">Genre</option>
    </select>
    <!-- <label>Release Date
        <md-input-container>
            <input type="date" value="yyyy-MM-dd" min="1900-01-01" max="2019-01-01" ng-model="vm.movieToAdd.release_date" />
        </md-input-container></label> -->

    <md-datepicker md-placeholder="Release Date" ng-model="vm.movieToAdd.release_date"></md-datepicker>

    <!-- this needs to be fixed later -->
    <md-input-container>
        <input type="number" placeholder="Runtime in minutes" ng-model="vm.movieToAdd.runtime">
    </md-input-container>
    <md-input-container>
        <input type="text" placeholder="Image URL" ng-model="vm.movieToAdd.image">
    </md-input-container>
    <input type="submit" value="Submit">
</form>


<br>
<h3>Movies currently in the Database</h3>

<div layout="row" layout-wrap>
    <md-content flex="33" ng-repeat="movie in vm.movies">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{movie.title}}</span>
                    <span class="md-subhead">Runtime: {{movie.run_time}}</span>
                    <span class="md-subhead">Release Date: {{movie.release_date | date:"MM/dd/yyyy"}}</span>
                </md-card-title-text>
                </mat-card-title>
                <div>
                    <img ng-src="{{movie.image}}" style="width:100px">
                </div>
                <md-button class="md-primary md-raised" style="height:50px" ng-click="vm.deleteMovie(movie)">
                    Delete
                </md-button>
        </md-card>
    </md-content>
</div>