<h1>Search Page</h1>


<h2>Search for a movie by title</h2>

<form ng-submit="vm.searchForMovie(vm.search)">
    <input type="text" placeholder="Search" ng-model="vm.search.title">
    <input type="submit" value="Search">
</form>

<div class="md-padding" layout="row" layout-wrap>
        <md-content  flex="33" ng-repeat="movie in vm.searchResults">
            <md-card>
            <div>
                <md-card-title>
                    <md-card-title-text>
                            <span class="md-headline">{{movie.title}}</span>
                            <span class="md-subhead">Avg. Rating: {{movie.vote_average*10}}</span>
                            <span class="md-subhead">Release Date: {{movie.release_date}}</span>
                            <span class="md-subhead"><img ng-src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" style="width:100px"></span>
                    </md-card-title-text>
                    </mat-card-title>
                    <md-card-content>
                        {{movie.overview}}
                    </md-card-content>
                </div>
                    
                    <md-button class="md-primary md-raised" style="height:50px" ng-click="vm.addMovie(movie)">
                            Add to Database
                        </md-button>
            </md-card>
        </md-content>
    </div>